@model SistemaCenagas.Models.ADC_Anexo6_Model

@{
    ViewData["Title"] = "Edit";
    Global global = (Global)ViewBag.global;
}


<div class="modal fade" tabindex="-1" role="dialog" id="editarAnexo4-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    @(global.anexos.Where(a => a.Id == 6).FirstOrDefault().Nombre):
                    <br />
                    @(global.proyectos.Nombre)
                </h6>
                <a asp-controller="ADC_Procesos" asp-action="Index" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="anexo6.Id" />
                    <input type="hidden" asp-for="anexo6.Id_Anexo1" />
                    <input type="hidden" asp-for="anexo6.Id_anexo3" />


                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Fecha de recepcion:</label>
                        <div class="col">
                            <input type="date" class="form-control" asp-for="anexo6.Fecha_Recepcion" required />
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Fecha de inicio del cambio:</label>
                        <div class="col">
                            <input type="date" class="form-control" asp-for="anexo6.Fecha_Inicio" required />
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Fecha de inicio del cambio:</label>
                        <div class="col">
                            <input type="date" class="form-control" asp-for="anexo6.Fecha_Termino" required />
                        </div>
                    </div>

                    <hr>
                    <p>El equipo verificador hace constar lo siguiente</p>
                    <hr />

                    <div class="modal-footer">

                        <button type="submit" role="button" class="btn btn-success">
                            Aceptar
                        </button>
                        <a class="btn btn-dark" asp-controller="ADC_Procesos" asp-action="Index">
                            Cancelar
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--script type="text/javascript" src="~/lib/jquery/dist/combo_cascada_edit.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/combo_cascada.js"></script-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
