@model SistemaCenagas.Models.Direccion

@{
    ViewData["Title"] = "Edit";
    Global global = (Global)ViewBag.global;
}

<div class="modal fade" tabindex="-1" role="dialog" id="editarUsuario-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar dirección</h5>
                <a asp-action="Index" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>

            </div>
            <!--end of modal head-->
            <div class="modal-body">

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row align-items-center">
                        <label asp-for="Nombre" class="col-2" style="text-align:right;">Nombre</label>
                        <div class="col">
                            <input type="text" asp-for="Nombre" class="form-control" required />
                        </div>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Abreviatura" class="col-2" style="text-align:right;">Abreviatura</label>
                        <div class="col">
                            <input type="text" asp-for="Abreviatura" class="form-control" />
                        </div>
                        <span asp-validation-for="Abreviatura" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Id_DireccionEjecutiva" class="col-2" style="text-align:right;">Dirección ejecutiva</label>
                        <div class="col">
                            <select asp-for="Id_DireccionEjecutiva" class="form-control">
                                @foreach (var item in global.direcciones_ejecutivas)
                                {
                                    <option value="@(item.Id)">@($"{item.Abreviatura} - {item.Nombre}")</option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="Id_DireccionEjecutiva" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">

                        <button type="submit" id="submit_usuario" role="button" class="btn btn-success">
                            Guardar
                        </button>
                        <a class="btn btn-dark" asp-action="Index">
                            Cancelar
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
