@model SistemaCenagas.Models.Proyectos

@{
    ViewData["Title"] = "Edit";
}
<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="ProyectosAdmin" asp-action="Index">Proyectos</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global.session_usuario.user.Titulo + " " + Global.session_usuario.user.Nombre + " | " + Global.session_usuario.Rol)
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h3 class="mb-0">Editar proyecto</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id_Proyecto"/>
                            <input type="hidden" asp-for="Clave"/>
                            <div class="form-group row align-items-center">
                                <label asp-for="Clave" class="col-2" style="text-align:right;">Clave</label>
                                <div class="col">
                                    <input type="text" asp-for="Clave" class="form-control" disabled />
                                </div>
                                <span asp-validation-for="Clave" class="text-danger"></span>
                            </div>
                            <div class="form-group row align-items-center">
                                <label asp-for="Nombre" class="col-2" style="text-align:right;"></label>
                                <div class="col">
                                    <input type="text" asp-for="Nombre" class="form-control" required />
                                </div>
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group row align-items-center">
                                <label asp-for="Descripcion" class="col-2" style="text-align:right;"></label>
                                <div class="col">
                                    <textarea type="text" asp-for="Descripcion" class="form-control" required></textarea>
                                </div>
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>                            
                            <div class="form-group row align-items-center">
                                <label asp-for="Estado_ADC" class="col-2" style="text-align:right;">Administración de cambios</label>
                                <div class="col">
                                    <select asp-for="Estado_ADC" class="form-control" required>
                                        <option>Deshabilitado</option>
                                        <option>Habilitado</option>
                                    </select>
                                </div>
                                <span asp-validation-for="Estado_ADC" class="text-danger"></span>
                            </div>
                            <hr>
                            <div class="form-group row align-items-center">
                                <div class="col-5">
                                    <input type="submit" value="Crear" class="btn btn-primary" />
                                    <a class="btn btn-danger" asp-action="Index">Guardar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
