<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CENAGAS</title>


    <!--AÑADIDOS-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52115242-14"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-52115242-14');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A project management Bootstrap theme by Medium Rare">
    <link href="~/assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/assets/css/login.css" rel="stylesheet" type="text/css">

    <!--link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".statesSelect").select2();
        })
    </script>

</head>

<body>

    <div class="layout @if (Global.session.Equals("LogIn")) { @Html.Encode("layout-nav-side") } ">

        @if (Global.session.Equals("LogIn"))
        {
            <div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
                <div class="collapse navbar-collapse flex-column" id="navbar-collapse">

                    <!--NUEVO MENU-->
                    <ul class="navbar-nav d-lg-block">
                        <li class="nav-item">

                            <a class="nav-link" asp-controller="Home" asp-action="Dashboard">Sistema CENAGAS</a>

                        </li>

                        <hr>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2">Necesidad de cambio</a>
                            <div id="submenu-2" class="collapse">
                                <ul class="nav nav-small flex-column">

                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="ProyectosUsuario" asp-action="Index">Solicitudes</a>
                                    </li>
                                    @if (new List<int> { Global.SUPERADMIN, Global.ADMINISTRADOR }.Contains(Global.session_usuario.user.Id_Rol))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="ProyectosAdmin" asp-action="Index">Asignaciones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="ProyectosAdmin" asp-action="Eliminados">Eliminados</a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4">ADC</a>
                            <div id="submenu-4" class="collapse">
                                <ul class="nav nav-small flex-column">
                                    @if (new List<int> { Global.SUPERADMIN, Global.ADMINISTRADOR }.Contains(Global.session_usuario.user.Id_Rol))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="ADC_Admin" asp-action="Index">Lista</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="ADC_Actividades" asp-action="Index">Actividades</a>
                                        </li>
                                    }
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="ADC_Usuario" asp-action="Index">Mis propuestas</a>
                                    </li>

                                    @if ((new List<int> { Global.SUPERADMIN, Global.ADMINISTRADOR, Global.EMPLEADO }.Contains(Global.session_usuario.user.Id_Rol)) == false)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="ADC_Admin" asp-action="Index">Asignados</a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8">Pre-Arranque</a>
                            <div id="submenu-8" class="collapse">
                                <ul class="nav nav-small flex-column">
                                    @if (new List<int> { Global.SUPERADMIN, Global.ADMINISTRADOR }.Contains(Global.session_usuario.user.Id_Rol))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="PreArranque_Admin" asp-action="Index">Lista</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="PreArranque_Actividades" asp-action="Index">Actividades</a>
                                        </li>
                                    }
                                    @if ((new List<int> { Global.SUPERADMIN, Global.ADMINISTRADOR, Global.EMPLEADO }.Contains(Global.session_usuario.user.Id_Rol)) == false)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="PreArranque_Admin" asp-action="Index">Asignados</a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>

                        <!--li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8">Pre arranque</a>
        <div id="submenu-8" class="collapse">
            <ul class="nav nav-small flex-column">
                @if (new List<int> { Global.SUPERADMIN, Global.ADMINISTRADOR }.Contains(Global.session_usuario.user.Id_Rol))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ADCAdmin" asp-action="Index">Lista</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-controller="ADCUsuario" asp-action="Index">Mis propuestas</a>
                </li>

                @if ((new List<int> { Global.SUPERADMIN, Global.ADMINISTRADOR, Global.EMPLEADO }.Contains(Global.session_usuario.user.Id_Rol)) == false)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ADCAdmin" asp-action="Index">Asignados</a>
                    </li>
                }

            </ul>
        </div>
    </li-->
                        @if (new List<int> { Global.SUPERADMIN, Global.ADMINISTRADOR }.Contains(Global.session_usuario.user.Id_Rol))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5">Usuarios</a>
                                <div id="submenu-5" class="collapse">
                                    <ul class="nav nav-small flex-column">

                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Usuarios" asp-action="Index">Lista</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Usuarios" asp-action="Eliminados">Eliminados</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6">Reportes</a>
                                <div id="submenu-6" class="collapse">
                                    <ul class="nav nav-small flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7">ADC</a>
                                            <div id="submenu-7" class="collapse">
                                                <ul class="nav nav-small flex-column">

                                                    <li class="nav-item">
                                                        <a class="nav-link" asp-controller="Reportes" asp-action="Index">Reportes</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" asp-controller="ReporteAnexos" asp-action="Index">Anexos</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" asp-controller="ADC_Admin" asp-action="Resumen">Resumen</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-10">Catalogos</a>
                                <div id="submenu-10" class="collapse">
                                    <ul class="nav nav-small flex-column">

                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="ElementoS3S" asp-action="Index">ElementosS3S</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Fuente_deteccion" asp-action="Index">Fuentes de deteccion</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Etapa_Realizada" asp-action="Index">Etapa Realizada</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Zonas" asp-action="Index">Zonas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Estados" asp-action="Index">Estados</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Residencias" asp-action="Index">Residencias</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Especialidades" asp-action="Index">Especialidades</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Sistemas" asp-action="Index">Sistemas</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="DDV" asp-action="Index">DDV</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Unidades" asp-action="Index">Unidades</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Direccion_Ejecutiva" asp-action="Index">Direccion Ejecutiva</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Direccion" asp-action="Index">Direccion</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Tipo" asp-action="Index">Tipo</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>


                </div>

            </div>
        }

        <div class="main-container">


            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <!--div class="container">
            &copy; 2022 - Cenagas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div-->
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery/dist/dataTables.bootstrap4.min.js"></script>

    <script>
        
        $(document).ready(function () {
            $("#example").DataTable({
                scrollX: true,
                //serverSide: true,
                searching: true
            });
        })

    </script>
    <script>
        function buscar(controller, buscar, filtrar) {
            $(filtrar).empty();

            if ($(buscar).val() != "0" && $(buscar).val() != "4" && $(buscar).val() != "5" && $(buscar).val() != "6") {

                $(filtrar).prop("disabled", false);
                $(filtrar).prop("required", true);

                $.ajax({
                    type: "Post",
                    url: "/" + controller +"/getFiltro",
                    data: { "idBusqueda": $(buscar).val() },
                    success: function (response) {
                        var items = "<option>--- Selecciona una opción ---</option>";
                        $(response).each(function () {
                            items += "<option value='" + this.value + "'>" + this.text + "</option>";
                        })
                        $(filtrar).html(items);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }

                });
            }
            else {
                $(filtrar).prop("disabled", true);
                $(filtrar).prop("required", false);
            }
        }

        $("#ReportesBuscar").change(function () {
            //alert("BUSCAR");
            
            buscar('Reportes', '#ReportesBuscar', "#ReportesFiltrar");
        });
        $("#ResumenBuscar").change(function () {
            //alert("BUSCAR");

            buscar('ADCAdmin', '#ResumenBuscar', '#ResumenFiltrar');
        });
        $("#ADCBuscar").change(function () {
            //alert("BUSCAR");

            buscar('ADCAdmin', '#ADCBuscar');
        });

        $("#terminado_1").change(function () {

            var check = this.checked ? "Si" : "No";
            alert(check);
            $.ajax({
                type: "Post",
                url: "/ADC_Procesos/Terminado",
                data: { "check": check }
            });
            
        });

    </script>

    <script type="text/javascript" src="~/lib/jquery/dist/script.js"></script>

    <!-- Required vendor scripts (Do not remove) >
    <script type="text/javascript" src="~/assets/js/jquery.min.js"></script-->
    <script type="text/javascript" src="~/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->
    <!-- Autosize - resizes textarea inputs as user types -->
    <script type="text/javascript" src="~/assets/js/autosize.min.js"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="~/assets/js/flatpickr.min.js"></script>
    <!-- Prism - displays formatted code boxes -->
    <script type="text/javascript" src="~/assets/js/prism.js"></script>
    <!-- Shopify Draggable - drag, drop and sort items on page -->
    <script type="text/javascript" src="~/assets/js/draggable.bundle.legacy.js"></script>
    <script type="text/javascript" src="~/assets/js/swap-animation.js"></script>
    <!-- Dropzone - drag and drop files onto the page for uploading -->
    <script type="text/javascript" src="~/assets/js/dropzone.min.js"></script>
    <!-- List.js - filter list elements -->
    <script type="text/javascript" src="~/assets/js/list.min.js"></script>

    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="~/assets/js/theme.js"></script>

    <!-- This appears in the demo only - demonstrates different layouts -->
    <!--div class="layout-switcher" tabindex="1">
        <div class="layout-switcher-head d-flex justify-content-between">
            <span>Select Layout</span>
            <i class="material-icons">arrow_drop_up</i>
        </div>
        <div class="layout-switcher-body">

        </div>
    </div-->
    <!-- This appears in the demo only - demonstrates different layouts -->

    @RenderSection("Scripts", required: false)
</body>
</html>
