@model SistemaCenagas.Models.ADC_Procesos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ADC_Procesos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_Actividad" class="control-label"></label>
                <input asp-for="Id_Actividad" class="form-control" />
                <span asp-validation-for="Id_Actividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_ADC" class="control-label"></label>
                <input asp-for="Id_ADC" class="form-control" />
                <span asp-validation-for="Id_ADC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avance" class="control-label"></label>
                <input asp-for="Avance" class="form-control" />
                <span asp-validation-for="Avance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faltante_Comentarios" class="control-label"></label>
                <input asp-for="Faltante_Comentarios" class="form-control" />
                <span asp-validation-for="Faltante_Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plan_Accion" class="control-label"></label>
                <input asp-for="Plan_Accion" class="form-control" />
                <span asp-validation-for="Plan_Accion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
