@model SistemaCenagas.Models.ADC_Procesos

@{
    ViewData["Title"] = "Edit";
}

<div class="modal fade" tabindex="-1" role="dialog" id="editarAnexo1-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(Global.tarea.actividad)</h5>
                <a asp-action="Index" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id_Proceso" />
                    <input type="hidden" asp-for="Id_ADC" />
                    <input type="hidden" asp-for="Id_Actividad" />
                    <input type="hidden" asp-for="Avance" />

                    <div class="form-group row align-items-center">
                        <label asp-for="Avance" class="col-2" style="text-align:right;">Avance</label>
                        <div class="col">
                            <input type="text" asp-for="Avance" class="form-control" disabled />
                        </div>
                        <span asp-validation-for="Avance" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Faltante_Comentarios" class="col-2" style="text-align:right;">Faltantes y comentarios</label>
                        <div class="col">
                            <textarea type="text" asp-for="Faltante_Comentarios" class="form-control"></textarea>
                        </div>
                        <span asp-validation-for="Faltante_Comentarios" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Plan_Accion" class="col-2" style="text-align:right;">Plan de acción</label>
                        <div class="col">
                            <textarea type="text" asp-for="Plan_Accion" class="form-control"></textarea>
                        </div>
                        <span asp-validation-for="Plan_Accion" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Terminado</label>
                        <div class="col">
                            <input type="checkbox" asp-for="Terminado" class="">
                        </div>

                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Confirmado</label>
                        <div class="col">
                            <input type="checkbox" asp-for="Confirmado" class="">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button role="button" class="btn btn-success" type="submit">
                            Guardar
                        </button>
                        <a class="btn btn-dark" asp-action="Index">
                            Cancelar
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                @if (Global.session_usuario.user.Id_Usuario == Global.adc.adc.Id_ProponenteCambio)
                {
                    <li class="breadcrumb-item">
                        <a asp-controller="ADCUsuario" asp-action="Index">ADC</a>
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a asp-controller="ADCAdmin" asp-action="Index">ADC</a>
                    </li>
                }
                <li class="breadcrumb-item">
                    <a asp-controller="ADC_Procesos" asp-action="Index">Tareas</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global.session_usuario.user.Titulo + " " + Global.session_usuario.user.Nombre + " | " + Global.session_usuario.Rol)
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h3 class="mb-0">@(Global.tarea.actividad)</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id_Proceso" />
                            <input type="hidden" asp-for="Id_ADC" />
                            <input type="hidden" asp-for="Id_Actividad" />
                            <input type="hidden" asp-for="Avance" />

                            <div class="form-group row align-items-center">
                                <label asp-for="Avance" class="col-2" style="text-align:right;">Avance</label>
                                <div class="col">
                                    <input type="text" asp-for="Avance" class="form-control" disabled />
                                </div>
                                <span asp-validation-for="Avance" class="text-danger"></span>
                            </div>
                            <div class="form-group row align-items-center">
                                <label asp-for="Faltante_Comentarios" class="col-2" style="text-align:right;">Faltantes y comentarios</label>
                                <div class="col">
                                    <textarea type="text" asp-for="Faltante_Comentarios" class="form-control"></textarea>
                                </div>
                                <span asp-validation-for="Faltante_Comentarios" class="text-danger"></span>
                            </div>
                            <div class="form-group row align-items-center">
                                <label asp-for="Plan_Accion" class="col-2" style="text-align:right;">Plan de acción</label>
                                <div class="col">
                                    <textarea type="text" asp-for="Plan_Accion" class="form-control"></textarea>
                                </div>
                                <span asp-validation-for="Plan_Accion" class="text-danger"></span>
                            </div>

                            <hr>
                            <div class="form-group row align-items-center">
                                <div class="col-5">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
