@model AppCenagas_v2.Models.DetalleProyecto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DetalleProyecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDetalleProyecto" />
            <div class="form-group">
                <label asp-for="IdProyecto" class="control-label"></label>
                <input asp-for="IdProyecto" class="form-control" />
                <span asp-validation-for="IdProyecto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdResidencia" class="control-label"></label>
                <input asp-for="IdResidencia" class="form-control" />
                <span asp-validation-for="IdResidencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAsignacion" class="control-label"></label>
                <input asp-for="IdAsignacion" class="form-control" />
                <span asp-validation-for="IdAsignacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoDesarrollo" class="control-label"></label>
                <input asp-for="NoDesarrollo" class="form-control" />
                <span asp-validation-for="NoDesarrollo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desarrollo" class="control-label"></label>
                <input asp-for="Desarrollo" class="form-control" />
                <span asp-validation-for="Desarrollo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionActividad" class="control-label"></label>
                <input asp-for="DescripcionActividad" class="form-control" />
                <span asp-validation-for="DescripcionActividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avance" class="control-label"></label>
                <input asp-for="Avance" class="form-control" />
                <span asp-validation-for="Avance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaltanteComentarios" class="control-label"></label>
                <input asp-for="FaltanteComentarios" class="form-control" />
                <span asp-validation-for="FaltanteComentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanAccion" class="control-label"></label>
                <input asp-for="PlanAccion" class="form-control" />
                <span asp-validation-for="PlanAccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anexos" class="control-label"></label>
                <input asp-for="Anexos" class="form-control" />
                <span asp-validation-for="Anexos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoProyecto" class="control-label"></label>
                <input asp-for="TipoProyecto" class="form-control" />
                <span asp-validation-for="TipoProyecto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
