@model SistemaCenagas.Models.PreArranque_Anexo1_Model

@{
    ViewData["Title"] = "Edit";
    Global global = (Global)ViewBag.global;
}

<div class="modal fade" tabindex="-1" role="dialog" id="editarAnexo1-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    Integración del equipo verificador
                </h6>
                <a asp-controller="PreArranque_Procesos" asp-action="Index" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="anexo1.Id"/>
                    <input type="hidden" asp-for="anexo1.Id_Prearranque"/>

                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Lider del equipo verificador</label>
                        <div class="col">
                            <input type="text" value="@(ViewBag.liderEV)" class="form-control" disabled />
                        </div>
                    </div>

                    <div class="users-manage" data-filter-list="form-group-users">
                        <div class="input-group input-group-round">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">filter_list</i>
                                </span>
                            </div>
                            <input type="search" class="form-control filter-list-input" placeholder="Buscar usuarios" aria-label="Filter Members">
                        </div>
                        <div class="form-group-users">

                            @for (int i = 0; i < global.vista_usuarios.Count(); i++)
                            {

                                <div class="custom-control custom-checkbox">
                                    <input type="hidden" asp-for="idMiembro[i]" value="@(global.vista_usuarios.ElementAt(i).user.Id)" />
                                    <input asp-for="miembros[i]" type="checkbox" class="custom-control-input" id="project-user-@(global.vista_usuarios.ElementAt(i).user.Id)">
                                    <label class="custom-control-label" for="project-user-@(global.vista_usuarios.ElementAt(i).user.Id)">
                                        <span class="d-flex align-items-center">
                                            <img alt="Claire Connors" src="~/assets/img/user.jpeg" class="avatar mr-2" />
                                            <span class="h6 mb-0" data-filter-by="text">
                                                @(global.vista_usuarios.ElementAt(i).user.Email)
                                            </span>
                                        </span>
                                    </label>
                                </div>
                            }
                        </div>
                        <br>
                        <hr>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" role="button" class="btn btn-success">
                            Guardar
                        </button>
                        <a class="btn btn-dark" asp-controller="PreArranque_Procesos" asp-action="Index">
                            Cancelar
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--script type="text/javascript" src="~/lib/jquery/dist/combo_cascada_edit.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/combo_cascada.js"></script-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
