
@model SistemaCenagas.Models.Usuarios

@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="breadcrumb-bar navbar bg-white sticky-top">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Configuracion</li>
        </ol>
    </nav>

    <div class="dropdown">
        <button class="btn btn-round" role="button" title="@(Global.session_usuario.nombre_completo)" data-toggle="dropdown" aria-expanded="false">
            <img alt="Image" src="~/assets/img/user.jpeg" class="avatar" />
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-header text-dark text-uppercase">@(Global.session_usuario.Rol)</a>
            <a class="dropdown-item" asp-controller="Home" asp-action="AccountSettings">Configuración de la cuenta</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" asp-controller="Home" asp-action="LogOut">Cerrar sesión</a>

        </div>
    </div>

</div>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-3 mb-3">
            <ul class="nav nav-tabs flex-lg-column" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Personales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">Notificaciones</a>
                </li>
            </ul>
        </div>
        <div class="col-xl-8 col-lg-9">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" role="tabpanel" id="profile">
                            
                            <!--end of avatar-->
                            <form asp-controller="Home" asp-action="UpdateAccountSettings">
                                <div class="form-group row align-items-center">
                                    <label asp-for="Nombre" class="col-3"></label>
                                    <div class="col">
                                        <input type="text" placeholder="Nombre" asp-for="Nombre" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label asp-for="Paterno" class="col-3">Apellido paterno</label>
                                    <div class="col">
                                        <input type="text" placeholder="Apellido" asp-for="Paterno" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label asp-for="Materno" class="col-3">Apellido materno</label>
                                    <div class="col">
                                        <input type="text" placeholder="Apellido" asp-for="Materno" class="form-control" />
                                    </div>
                                </div>
                                <input asp-for="Email" type="hidden" />
                                <div class="form-group row align-items-center">
                                    <label asp-for="Email" class="col-3"></label>
                                    <div class="col">
                                        <input disabled type="text" placeholder="Email" asp-for="Email" class="form-control" />
                                    </div>
                                </div>
                                <input asp-for="Id_Rol" type="hidden" />
                                <div class="form-group row align-items-center">
                                    <label asp-for="Id_Rol" class="col-3">Rol</label>
                                    <div class="col">
                                        <input disabled type="text" value="@(Global.session_usuario.Rol)" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Observaciones" class="col-3"></label>
                                    <div class="col">
                                        <textarea asp-for="Observaciones" id="" placeholder="Observaciones personales" class="form-control" rows="4"></textarea>
                                        <small>Esto se mostrará en tu perfil público.</small>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" id="" class="btn btn-success">Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="password">
                            <form asp-action="UpdatePassword">
                                <div class="form-group row align-items-center">
                                    <label asp-for="Password" class="col-3">Contraseña actual</label>
                                    <div class="col">
                                        <input asp-for="Password" type="password" placeholder="Contraseña actual" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label asp-for="Nueva_Password" class="col-3">Nueva contraseña</label>
                                    <div class="col">
                                        <input asp-for="Nueva_Password" type="password" placeholder="Contraseña actual" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label asp-for="Confirmar_Password" class="col-3">Confirmar contraseña</label>
                                    <div class="col">
                                        <input asp-for="Confirmar_Password" type="password" placeholder="Contraseña actual" class="form-control" />
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">Cambiar</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="notifications">
                            <form asp-action="Notificaciones">
                                <h6>Notificaciones</h6>
                                
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox custom-checkbox-switch">
                                        <input asp-for="Notificacion_ADC" type="checkbox" class="custom-control-input" id="notify-1">
                                        <label class="custom-control-label" for="notify-1">Solicitudes de ADC</label>
                                    </div>
                                </div>
                                @if(Global.session_usuario.user.Id_Rol != 1)
                                {
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox custom-checkbox-switch">
                                            <input asp-for="Notificacion_Tarea" type="checkbox" class="custom-control-input" id="notify-2">
                                            <label class="custom-control-label" for="notify-2">Asignaciones de nuevas tareas</label>
                                        </div>
                                    </div>
                                }
                                
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox custom-checkbox-switch">
                                        <input asp-for="Notificacion_Proyecto" type="checkbox" class="custom-control-input" id="notify-3">
                                        <label class="custom-control-label" for="notify-3">Asignaciones como miembro de proyecto</label>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                </div>
                            </form>
                        </div>
                        
                        <div class="tab-pane fade" role="tabpanel" id="billing">
                            <form>
                                <h6>Detalles del plan</h6>
                                <div class="card text-center">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-4">
                                                    <h6>Free</h6>
                                                    <h5 class="display-4 d-block mb-2 font-weight-normal">$0</h5>
                                                    <span class="text-muted text-small">Per User / Per Month</span>
                                                </div>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        Unlimited projects
                                                    </li>
                                                    <li>
                                                        1 team
                                                    </li>
                                                    <li>
                                                        4 team members
                                                    </li>
                                                </ul>
                                                <div class="custom-control custom-radio d-inline-block">
                                                    <input type="radio" id="plan-radio-1" name="customRadio" class="custom-control-input">
                                                    <label class="custom-control-label" for="plan-radio-1"></label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-4">
                                                    <h6>Pro</h6>
                                                    <h5 class="display-4 d-block mb-2 font-weight-normal">$10</h5>
                                                    <span class="text-muted text-small">Per User / Per Month</span>
                                                </div>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        Unlimited projects
                                                    </li>
                                                    <li>
                                                        Unlmited teams
                                                    </li>
                                                    <li>
                                                        Unlimited team members
                                                    </li>
                                                </ul>
                                                <div class="custom-control custom-radio d-inline-block">
                                                    <input type="radio" id="plan-radio-2" name="customRadio" class="custom-control-input" checked>
                                                    <label class="custom-control-label" for="plan-radio-2"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form class="mt-4">
                                <h6>Payment Method</h6>

                                <div class="card">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="custom-control custom-radio d-inline-block">
                                                    <input type="radio" id="method-radio-1" name="payment-method" class="custom-control-input" checked>
                                                    <label class="custom-control-label" for="method-radio-1"></label>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <img alt="Image" src="assets/img/logo-payment-visa.svg" class="avatar rounded-0" />
                                            </div>
                                            <div class="col d-flex align-items-center">
                                                <span>•••• •••• •••• 8372</span>
                                                <small class="ml-2">Exp: 06/21</small>
                                            </div>
                                            <div class="col-auto">
                                                <button class="btn btn-sm btn-danger">
                                                    Remove Card
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="custom-control custom-radio d-inline-block">
                                                    <input type="radio" id="method-radio-2" name="payment-method" class="custom-control-input">
                                                    <label class="custom-control-label" for="method-radio-2"></label>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <img alt="Image" src="assets/img/logo-payment-amex.svg" class="avatar rounded-0" />
                                            </div>
                                            <div class="col d-flex align-items-center">
                                                <span>•••• •••• •••• 9918</span>
                                                <small class="ml-2">Exp: 02/20</small>
                                            </div>
                                            <div class="col-auto">
                                                <button class="btn btn-sm btn-danger">
                                                    Remove Card
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="custom-control custom-radio d-inline-block">
                                                    <input type="radio" id="method-radio-3" name="payment-method" class="custom-control-input">
                                                    <label class="custom-control-label" for="method-radio-3"></label>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <img alt="Image" src="assets/img/logo-payment-paypal.svg" class="avatar rounded-0" />
                                            </div>
                                            <div class="col d-flex align-items-center">
                                                <span>david.w@pipeline.io</span>

                                            </div>
                                            <div class="col-auto">
                                                <button class="btn btn-sm btn-primary">
                                                    Manage
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
