@model SistemaCenagas.Models.Usuario

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="main-container fullscreen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-7">
                <div class="text-center">
                    <h1 class="h2">Cuenta de usuario confirmada</h1>
                    <!--p class="lead">Crea tu cuenta y espera la validacion</p-->

                </div>
                <div>
                    <a asp-controller="Home" asp-action="Index">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>