@model SistemaCenagas.Models.Usuario

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="main-container fullscreen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-7">
                <div class="text-center">
                    <h1 class="h2">Crear cuenta</h1>
                    <!--p class="lead">Crea tu cuenta y espera la validacion</p-->

                    <hr>
                    <form asp-controller="Home" asp-action="CreateAccount">
                        <div class="form-group">
                            <input asp-for="Email" type="email" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input asp-for="Password" type="password" placeholder="Contraseña" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input asp-for="Confirmar_Password" type="password" placeholder="Confirmar Contraseña" class="form-control" />
                            <span asp-validation-for="Confirmar_Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Crear cuenta" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>