@model SistemaCenagas.Models.Usuario

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="main-container fullscreen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-7">
                <div class="text-center">
                    <h1 class="h2">Resetear contraseña &#x1f62B;</h1>
                    <p class="lead">Escribe tu nueva contraseña</p>

                    <hr>
                    <form asp-controller="" asp-action="">

                        <div class="form-group">
                            <input asp-for="Password" type="email" placeholder="Nueva contraseña" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input asp-for="Confirmar_Password" type="email" placeholder="Confirmar contraseña" class="form-control" />
                            <span asp-validation-for="Confirmar_Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Resetear" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
