@model SistemaCenagas.Models.Proyectos

@{
    ViewData["Title"] = "Edit";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="ProyectosAdministrador" asp-action="Index">Proyectos</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global.usuario.Titulo + " " + Global.usuario.Nombre + " | " + (Global.usuario.Rol != null ? Global.usuario.Rol : "Sin asignación"))
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h2 class="mb-0"> Editar proyecto </h2>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id_Proyecto" />
                            <input type="hidden" asp-for="Clave" />
                            <input type="hidden" asp-for="Id_Lider" />
                            <div class="form-group">
                                <label asp-for="Clave" class="control-label"></label>
                                <input disabled asp-for="Clave" class="form-control" />
                                <span asp-validation-for="Clave" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descripcion" class="control-label"></label>
                                <input asp-for="Descripcion" class="form-control" />
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Id_Lider" class="control-label">Lider</label>
                                <label asp-for="Id_Lider" class="control-label">
                                    @(Global.usuario.Titulo + " " + Global.usuario.Nombre + " " +
                                                Global.usuario.Paterno + " " + Global.usuario.Materno)
                                </label>                                
                                <span asp-validation-for="Id_Lider" class="text-danger"></span>
                            </div>
                            <div class="form-check form-group">
                                <input asp-for="ADC" class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                <label class="form-check-label" for="flexCheckDefault">
                                    Permitir cambios
                                </label>
                                <span asp-validation-for="ADC" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
