@model SistemaCenagas.Models.Usuarios

@{
    ViewData["Title"] = "Create";
}

<form asp-controller="Usuarios" asp-action="Create" class="modal fade" id="crear-usuario-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo usuario</h5>
                <a class="btn btn-round" asp-action="Index">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="project-edit-details" role="tabpanel">

                        <input type="hidden" asp-for="Registro_Eliminado" value="0" />

                        <div class="form-group row align-items-center">
                            <label class="col-4">Nombre(s)</label>
                            <input type="text" asp-for="Nombre" class="form-control col" required />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-4">Apellido paterno</label>
                            <input type="text" asp-for="Paterno" class="form-control col" required />
                            <span asp-validation-for="Paterno" class="text-danger"></span>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-4">Apellido materno</label>
                            <input type="text" asp-for="Materno" class="form-control col" required />
                            <span asp-validation-for="Materno" class="text-danger"></span>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-4">Titulo</label>
                            <select type="text" asp-for="Titulo" class="form-control col" required>
                                <option>Ingeniero</option>
                                <option>Licenciado</option>
                            </select>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-4">Username (dominio <b>cenagas.gob.mx</b>)</label>
                            <input asp-for="Username" class="form-control col" onkeypress="return soloLetras(event)" required />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-4">Contraseña</label>
                            <input type="password" asp-for="Password" class="form-control col" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-4">Confirmar contraseña</label>
                            <input type="password" asp-for="Confirmar_Password" class="form-control col" required />
                            <div class="alert alert-warning text-small" role="alert">
                                <span asp-validation-for="Confirmar_Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-4">Rol</label>
                            <select type="text" asp-for="Id_Rol" class="form-control col" required>
                                @foreach (var rol in Global.roles)
                                {
                                    <option value="@(rol.Id_Rol)">@(rol.Nombre)</option>
                                }
                            </select>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-4">Estatus</label>
                            <select type="text" asp-for="Estatus" class="form-control col" required>
                                <option>Habilitado</option>
                                <option>Deshabilitado</option>
                            </select>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!--end of modal body-->
            <div class="modal-footer">
                <button role="button" class="btn btn-success" type="submit">
                    Crear
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
