@model SistemaCenagas.Models.Usuarios

@{
    ViewData["Title"] = "Delete";
}

<div class="modal fade" tabindex="-1" role="dialog" id="restaurarUsuario-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Restaurar usuario</h5>
                <a asp-action="Eliminados" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">

                <form asp-action="Restore">
                    <div class="card card-note">
                        <div class="card-body">
                            <p>Esta a punto de restaurar la cuenta de usuario <b>@(Model.Email)</b>. ¿Desea continuar?</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" asp-for="Id" />
                        <button role="button" class="btn btn-success" type="submit">
                            Restaurar
                        </button>
                        <a class="btn btn-dark" asp-action="Eliminados">
                            Cancelar
                        </a>
                    </div>
                    
                </form>

            </div>
        </div>
    </div>
</div>
