@model SistemaCenagas.Models.Tipo

@{
    ViewData["Title"] = "Create";
}

<div class="modal fade" tabindex="-1" role="dialog" id="nuevoUsuario-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar nuevo tipo de instalación</h5>
                <a asp-action="Index" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">
                
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row align-items-center">
                        <label asp-for="Tipo_Instalacion" class="col-2" style="text-align:right;">Tipo de instalación</label>
                        <div class="col">
                            <input type="text" asp-for="Tipo_Instalacion" class="form-control" required />
                        </div>
                        <span asp-validation-for="Tipo_Instalacion" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Abreviatura" class="col-2" style="text-align:right;">Abreviatura</label>
                        <div class="col">
                            <input type="text" asp-for="Abreviatura" class="form-control" />
                        </div>
                        <span asp-validation-for="Abreviatura" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Resumen" class="col-2" style="text-align:right;">Resumen</label>
                        <div class="col">
                            <input type="text" asp-for="Resumen" class="form-control" />
                        </div>
                        <span asp-validation-for="Resumen" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">

                        <button type="submit" id="submit_usuario" role="button" class="btn btn-success">
                            Crear
                        </button>
                        <a class="btn btn-dark" asp-action="Index">
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
