@model SistemaCenagas.Models.ADC_Anexo4

@{
    ViewData["Title"] = "Edit";
    Global global = (Global)ViewBag.global;
}

<script>

    var textarea__max_length = 3000;

    $('#textarea1').text("Longitud máxima: " + @(Model.Propuesta_Inicio_Operacion != null ? Model.Propuesta_Inicio_Operacion.Length : 0) + "/" + textarea__max_length);

    function countChar(val, txtarea) {
        var len = val.value.length;
        if (len > textarea__max_length) {
            val.value = val.value.substring(0, textarea__max_length);
        } else {
            $(txtarea).text("Longitud máxima: " + len + "/" + textarea__max_length);
        }
    };


</script>

<div class="modal fade" tabindex="-1" role="dialog" id="editarAnexo4-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    @(global.anexos.Where(a => a.Id == 4).FirstOrDefault().Nombre):
                    <br />
                    @(global.proyectos.Nombre)
                </h6>
                <a asp-controller="ADC_Procesos" asp-action="Index" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Id_Anexo1" />
                    <input type="hidden" asp-for="Id_Anexo3" />
                    <input type="hidden" asp-for="Id_Residente" />

                    @if (global.session_usuario.user.Id_Rol == global.RESPONSABLE_ADC || global.session_usuario.user.Id_Rol == global.SUPLENTE)
                    {
                        <div class="form-group row align-items-center">
                            <label class="col-2" style="text-align:right;">Fecha retiro de cambio temporal:</label>
                            <div class="col">
                                <input type="date" class="form-control" asp-for="Fecha_Retiro_Cambio_Temporal" required />
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-2" style="text-align:right;">Tiempo estimado de ejecución (días):</label>
                            <div class="col">
                                <input type="number" class="form-control" asp-for="Tiempo_Estimado" required />
                            </div>
                        </div>
                        <div class="form-group row align-items-center">
                            <label class="col-2" style="text-align:right;">Propuesta de inicio de operación:</label>
                            <div class="col">
                                <textarea type="text" class="form-control" style="height:300px;" asp-for="Propuesta_Inicio_Operacion" onkeyup="countChar(this, '#textarea1');" required></textarea>
                                <label id="textarea1" style="color:grey; font-size:12px;"></label>
                            </div>
                        </div>

                        <input type="hidden" asp-for="Autorizacion_Inicio_Operacion" />

                        @if (Model.Propuesta_Inicio_Operacion != null)
                        {

                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Propuesta de inicio de operación:</label>
                                <div class="col">
                                    <input type="text" class="form-control" asp-for="Autorizacion_Inicio_Operacion" disabled />
                                </div>
                            </div>
                        }


                    }

                    @if (new List<int>() { global.ADMINISTRADOR, global.SUPERADMIN, global.LIDER_EQUIPO_VERIFICADOR, global.EQUIPO_VERIFICADOR}.Contains(global.session_usuario.user.Id_Rol))
                    {
                        @if (Model.Propuesta_Inicio_Operacion != null)
                        {

                            <input type="hidden" asp-for="Fecha_Retiro_Cambio_Temporal" />
                            <input type="hidden" asp-for="Tiempo_Estimado" />
                            <input type="hidden" asp-for="Propuesta_Inicio_Operacion" />

                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Fecha retiro de cambio temporal:</label>
                                <div class="col">
                                    <input type="date" class="form-control" asp-for="Fecha_Retiro_Cambio_Temporal" disabled />
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Tiempo estimado de ejecución (días):</label>
                                <div class="col">
                                    <input type="date" class="form-control" asp-for="Tiempo_Estimado" disabled />
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Propuesta de inicio de operación:</label>
                                <div class="col">
                                    <textarea type="text" class="form-control" style="height:300px;" onkeyup="countChar(this, '#');" asp-for="Propuesta_Inicio_Operacion" disabled></textarea>
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Estatus de inicio de operación:</label>
                                <div class="col">
                                    <select type="text" class="form-control" asp-for="Autorizacion_Inicio_Operacion" required>
                                        <option>Pendiente</option>
                                        <option>Autorizado</option>
                                        <option>No autorizado</option>
                                    </select>
                                </div>
                            </div>
                        }
                        else
                        {
                            <p>Aún no hay solicitudes de inicio de operacion de cambios temporales por parte del responsable de la administración del cambio</p>
                        }
                    }



                    <hr>

                    <div class="modal-footer">

                        <button type="submit" role="button" class="btn btn-success">
                            @(global.session_usuario.user.Id_Rol == global.RESPONSABLE_ADC || global.session_usuario.user.Id_Rol == global.SUPLENTE ? "Solicitar autorización" : "Aceptar")
                        </button>
                        <a class="btn btn-dark" asp-controller="ADC_Procesos" asp-action="Index">
                            Cancelar
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--script type="text/javascript" src="~/lib/jquery/dist/combo_cascada_edit.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/combo_cascada.js"></script-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
